/* CSS STYLES */
.panel-body {
  min-height: 140px;
}

/* At risk color ramp */
.risk-q0-9 { fill: #ffffcc; }
.risk-q1-9 { fill: #ffeda0; }
.risk-q2-9 { fill: #fed976; }
.risk-q3-9 { fill: #feb24c; }
.risk-q4-9 { fill: #fd8d3c; }
.risk-q5-9 { fill: #fc4e2a; }
.risk-q6-9 { fill: #e31a1c; }
.risk-q7-9 { fill: #bd0026; }
.risk-q8-9 { fill: #800026; }
.no-data { fill: rgb(129, 129, 129); }

.country {
  stroke: black;
}

/* https://github.com/Caged/d3-tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip p.tip-header {
  color: rgb(186, 109, 7);
}

.d3-tip p span.tip-label {
  color: rgb(198, 167, 125);
}

.d3-tip p span.tip-content {
  text-align: right;
}



/* Tree styles */
.node circle {
  fill: #fd8d3c;
  stroke: #e31a1c;
  stroke-width: 3px;
}

.node circle:hover {
  fill: #800026;
  stroke: #800026;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  font-weight: bold;
  font-color: #fd8d3c;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* Bar chat */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line,
.domain {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

#chart-area text {
  font-size: 11px;
}

.axis-label {
  fill: #888;
  font-size: 10px;
}

.bar {
  fill: rgb(233, 210, 128);
  fill-opacity: 0.50;
  stroke: rgb(190, 144, 7);
}

.bar:hover {
  fill-opacity: 0.75;
}

#fund-label {
  margin-left: 2em;
  font-weight: bold;
  font-size: 1.15em;
}

.d3-tip p.fund-tip-header {
  color: rgb(159, 107, 85);
}

#fund-data {
  margin-bottom: 2em;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 3em;
  margin-top: 5em;
  font-weight: bold;
}

footer a {
  color: rgb(219, 29, 236);
}

footer a:hover {
  color: rgb(249, 242, 250);
}

footer a:visited {
  color: rgb(219, 29, 236);
}
