/* CSS STYLES */
.panel-body {
  min-height: 140px;
}

/* At risk color ramp */
.risk-q0-9 { fill: rgb(247,251,255); }
.risk-q1-9 { fill: rgb(222,235,247); }
.risk-q2-9 { fill: rgb(198,219,239); }
.risk-q3-9 { fill: rgb(158,202,225); }
.risk-q4-9 { fill: rgb(107,174,214); }
.risk-q5-9 { fill: rgb(66,146,198); }
.risk-q6-9 { fill: rgb(33,113,181); }
.risk-q7-9 { fill: rgb(8,81,156); }
.risk-q8-9 { fill: rgb(8,48,107); }
.no-data { fill: rgb(129, 129, 129); }
